<a href="https://colab.research.google.com/github/dpenamoya-ops/IA-aplicada-a-ciencia-de-datos/blob/main/IA_aplicada_a_ciencia_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#IA aplicada a Data Science: Utilizando IA en la construcción de visualizaciones de datos

#Aula 1 - Conociendo los datos

## 1.2 - Obteniendo los datos

Vamos inicialmente a proveer el link del repositorio con las dos bases que utilizaremos en el proyecto:

In [1]:
url_clientes = "https://gist.githubusercontent.com/ahcamachod/d08898e1cc84c7271856e78d9558ca3d/raw/2f7e1fa53711efe6433a5c5ec79948f600591cb9/clientes_zoop.csv"
url_ventas = "https://gist.githubusercontent.com/ahcamachod/966d7162a3c3a2769b8770b35abf1bcc/raw/d79941b3fa46a450f3611589abd8663399c1277b/ventas_zoop.csv"

In [2]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [3]:
clientes = pd.read_csv(url_clientes)

In [4]:
clientes.head()

,ID_compra,ID_cliente,ciudad,estado,region,edad,sexo_biologico,cashback,nota
0,904,8972,Oaxaca de Juárez,Oaxaca,Sur,49,Masculino,No,9
1,4613,5120,Ciudad de México,Ciudad de México,Centro,49,Femenino,No,9
2,5579,1847,Ciudad de México,Ciudad de México,Centro,24,Femenino,No,8
3,2405,2846,Ciudad de México,Ciudad de México,Centro,38,Femenino,Sí,7
4,2485,2715,Chihuahua,Chihuahua,Noroeste,30,Femenino,No,10

In [5]:
ventas = pd.read_csv(url_ventas)

In [6]:
ventas.tail()

,ID_compra,fecha,horario,categoria,precio_unitario,cantidad,envio,metodo_pago
6164,6141,2023-12-31,17:49,Electrodomésticos,1509.9,5,377.48,Tarjeta de Crédito
6165,6148,2023-12-31,23:02,Papelería y oficina,14.0,2,3.36,Transferencia
6166,6123,2023-12-31,21:25,Alimentos y bebidas,77.9,1,7.79,Tarjeta de Crédito
6167,6147,2023-12-31,21:38,Libros,142.9,4,17.15,Tarjeta de Crédito
6168,6122,2023-12-31,22:11,Belleza e higiene,89.9,5,13.48,Tarjeta de Crédito

## **1.3 - Entendiendo los datos**

---

Ahora, vamos a explorar los datos comprendiendo lo que significan y cómo podemos relacionarlos en la construcción de las visualizaciones.

### **Base de clientes**

> #### <strong><font color="7b71ff" size =6>Prompt:</font></strong>

Vamos a actuar como analistas de datos de una e-commerce. Recibimos dos bases de datos con los datos de los clientes y de las ventas en 2023, respectivamente.

En este primer momento, vamos a explorar la base de clientes en formato de un DataFrame de pandas, llamado "clientes". Contiene datos de los clientes que realizaron compras en la tienda virtual, siendo estos: ID de la compra, ID del cliente, la ciudad, estado y región de la compra, edad, sexo biológico, si participan en el programa de cashback y la calificación, o nota, de la compra.

Queremos hacer una breve exploración de los datos para comprender un poco sobre ellos. Recordando que los datos de esta base ya están limpios y tratados. Construye el código para ejecutar esta etapa utilizando Python con el objetivo de conocer mejor el dataframe "clientes" y algunos de sus atributos.

No es necesario utilizar "print()" para mostrar el resultado de las consultas.

# Vista general del DataFrame
clientes.head()

# Dimensiones del DataFrame (filas, columnas)
clientes.shape

# Información sobre columnas y tipos de datos
clientes.info()

# Estadísticas descriptivas de variables numéricas
clientes.describe()

# Estadísticas descriptivas incluyendo variables categóricas
clientes.describe(include="object")

# Verificación de valores nulos por columna
clientes.isna().sum()

# Distribución por sexo biológico
clientes["sexo"].value_counts()

# Distribución por región
clientes["region"].value_counts()

# Participación en el programa de cashback
clientes["cashback"].value_counts()

# Distribución de edades
clientes["edad"].describe()

# Promedio de calificación por región
clientes.groupby("region")["calificacion"].mean()

# Promedio de calificación según participación en cashback
clientes.groupby("cashback")["calificacion"].mean()

# Número de clientes únicos
clientes["id_cliente"].nunique()

In [11]:
# Dimensiones del DataFrame (filas, columnas)
clientes.shape

# Estadísticas descriptivas incluyendo variables categóricas
clientes.describe(include="object")

# Distribución por región
clientes["region"].value_counts()

# Distribución de edades
clientes["edad"].describe()

# Promedio de calificación por región
clientes.groupby("region")["nota"].mean()

# Promedio de calificación según participación en cashback
clientes.groupby("cashback")["nota"].mean()

# Número de clientes únicos
clientes["ID_cliente"].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6169 entries, 0 to 6168
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_compra       6169 non-null   int64
 1   ID_cliente      6169 non-null   int64
 2   ciudad          6169 non-null   object
 3   estado          6169 non-null   object
 4   region          6169 non-null   object
 5   edad            6169 non-null   int64
 6   sexo_biologico  6169 non-null   object
 7   cashback        6169 non-null   object
 8   nota            6169 non-null   int64
dtypes: int64(4), object(5)
memory usage: 433.9+ KB

4453

In [12]:
# Vista general del DataFrame
clientes.head()

,ID_compra,ID_cliente,ciudad,estado,region,edad,sexo_biologico,cashback,nota
0,904,8972,Oaxaca de Juárez,Oaxaca,Sur,49,Masculino,No,9
1,4613,5120,Ciudad de México,Ciudad de México,Centro,49,Femenino,No,9
2,5579,1847,Ciudad de México,Ciudad de México,Centro,24,Femenino,No,8
3,2405,2846,Ciudad de México,Ciudad de México,Centro,38,Femenino,Sí,7
4,2485,2715,Chihuahua,Chihuahua,Noroeste,30,Femenino,No,10

In [13]:
# Información sobre columnas y tipos de datos
clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6169 entries, 0 to 6168
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_compra       6169 non-null   int64
 1   ID_cliente      6169 non-null   int64
 2   ciudad          6169 non-null   object
 3   estado          6169 non-null   object
 4   region          6169 non-null   object
 5   edad            6169 non-null   int64
 6   sexo_biologico  6169 non-null   object
 7   cashback        6169 non-null   object
 8   nota            6169 non-null   int64
dtypes: int64(4), object(5)
memory usage: 433.9+ KB

In [14]:
# Estadísticas descriptivas de variables numéricas
clientes.describe()

         ID_compra   ID_cliente         edad         nota
count  6169.000000  6169.000000  6169.000000  6169.000000
mean   3085.000000  5461.475280    38.260010     8.443670
std    1780.981237  2610.959977     9.838951     1.730584
min       1.000000  1005.000000    18.000000     0.000000
25%    1543.000000  3148.000000    31.000000     8.000000
50%    3085.000000  5436.000000    38.000000     9.000000
75%    4627.000000  7748.000000    45.000000     9.000000
max    6169.000000  9999.000000    70.000000    10.000000

In [15]:
# Distribución por sexo biológico
clientes["sexo_biologico"].value_counts()

sexo_biologico
Femenino     3371
Masculino    2798
Name: count, dtype: int64

In [16]:
# Participación en el programa de cashback
clientes["cashback"].value_counts()

cashback
No    3557
Sí    2612
Name: count, dtype: int64

In [17]:
# Verificación de valores nulos por columna
clientes.isna().sum()

ID_compra         0
ID_cliente        0
ciudad            0
estado            0
region            0
edad              0
sexo_biologico    0
cashback          0
nota              0
dtype: int64

### **Base de ventas**

> #### <strong><font color="7b71ff" size =6>Prompt:</font></strong>

Ahora vamos explorar la base de ventas en formato de un DataFrame, llamado "ventas". Contiene datos de las ventas del comercio electrónico, que son: ID de la compra, fecha de la compra, hora de la compra, categoría del producto, precio unitario del producto, cantidad vendida, envío y el método de pago.

Queremos hacer una breve exploración de los datos para comprender un poco sobre ellos. Recordando que los datos de esta base también están limpios y tratados. Construye el código para ejecutar esta etapa utilizando Python con el objetivo de conocer mejor el dataframe "clientes" y algunos de sus atributos.

In [ ]:
# Dimensiones del DataFrame
ventas.shape

# Estadísticas descriptivas incluyendo variables categóricas
ventas.describe(include="object")

# Verificación de valores nulos por columna
ventas.isna().sum()

# Distribución por categoría de producto
ventas["categoria_producto"].value_counts()

# Distribución por método de pago
ventas["metodo_pago"].value_counts()

# Estadísticas del precio unitario
ventas["precio_unitario"].describe()

# Estadísticas de la cantidad vendida
ventas["cantidad"].describe()

# Cálculo del valor total por venta
ventas.assign(valor_total=ventas["precio_unitario"] * ventas["cantidad"]).head()

# Valor promedio de venta por categoría
ventas.assign(valor_total=ventas["precio_unitario"] * ventas["cantidad"]) \
      .groupby("categoria_producto")["valor_total"].mean()

# Número de compras únicas
ventas["id_compra"].nunique()

# Cantidad total de productos vendidos
ventas["cantidad"].sum()

# Ventas por método de pago (en valor monetario)
ventas.assign(valor_total=ventas["precio_unitario"] * ventas["cantidad"]) \
      .groupby("metodo_pago")["valor_total"].sum()

In [18]:
# Vista general de los primeros registros
ventas.head()

,ID_compra,fecha,horario,categoria,precio_unitario,cantidad,envio,metodo_pago
0,6,2023-01-03,20:40,Electrónicos,4457.9,4,713.26,Paypal
1,5,2023-01-03,21:48,Herramientas y construcción,115.9,1,0.00,Transferencia
2,9,2023-01-03,17:08,Belleza e higiene,68.9,2,13.78,Tarjeta de Crédito
3,4,2023-01-03,14:29,Herramientas y construcción,80.9,5,40.45,Transferencia
4,8,2023-01-03,18:02,Belleza e higiene,165.0,4,0.00,Transferencia

In [19]:
# Información general: columnas, tipos de datos y valores no nulos
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6169 entries, 0 to 6168
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_compra        6169 non-null   int64
 1   fecha            6169 non-null   object
 2   horario          6169 non-null   object
 3   categoria        6169 non-null   object
 4   precio_unitario  6169 non-null   float64
 5   cantidad         6169 non-null   int64
 6   envio            6169 non-null   float64
 7   metodo_pago      6169 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 385.7+ KB

In [23]:
# Conversión de la columna fecha a datetime
ventas["fecha"] = pd.to_datetime(ventas["fecha"], format='%Y-%m-%d')

In [24]:
# Estadísticas descriptivas de variables numéricas
ventas.describe()

,ID_compra,fecha,precio_unitario,cantidad,envio
count,6169.000000,6169,6169.000000,6169.000000,6169.000000
mean,3085.000000,2023-08-20 00:12:22.292105984,873.234738,3.004863,119.233832
min,1.000000,2023-01-03 00:00:00,2.900000,1.000000,0.000000
25%,1543.000000,2023-05-30 00:00:00,44.900000,2.000000,0.320000
50%,3085.000000,2023-08-31 00:00:00,93.900000,3.000000,7.550000
75%,4627.000000,2023-11-23 00:00:00,221.900000,4.000000,29.240000
max,6169.000000,2023-12-31 00:00:00,8000.000000,5.000000,4521.540000
std,1780.981237,NaN,1852.064342,1.420725,366.149225

## **1.4 - Tipos de gráficos**

---

Ya hemos explorado un poco de las dos bases del proyecto y obtuvimos algunos insights interesantes que pueden ser importantes en la construcción de nuestras visualizaciones.

Ahora, intentemos simplificar nuestro análisis consolidando los datos en una única tabla para, a partir de ahí, enfocarnos en las posibilidades de visuales combinando los datos. ¿Podrá GPT ayudarnos aquí?

> #### <strong><font color="7b71ff" size =6>Prompt:</font></strong>

Ahora vamos a unir las dos bases de nuestro proyecto en una sola utilizando como llave la columna "ID_compra". Además, organizaremos las columnas en la siguiente secuencia:

* ID_compra
* fecha
* horario
* categoria
* precio_unitario
* cantidad
* envio
* metodo_pago
* ID_cliente
* edad
* sexo_biologico
* ciudad
* estado
* region
* cashback
* nota

Construye un código para ejecutar esta etapa usando Python y la biblioteca Pandas.

In [27]:
# Unión de las bases de datos usando ID_compra como llave
df = ventas.merge(
    clientes,
    on="ID_compra",
    how="inner"
)

In [28]:
# Reordenamiento de las columnas según el orden solicitado
df = df[
    [
        "ID_compra",
        "fecha",
        "horario",
        "categoria",
        "precio_unitario",
        "cantidad",
        "envio",
        "metodo_pago",
        "ID_cliente",
        "edad",
        "sexo_biologico",
        "ciudad",
        "estado",
        "region",
        "cashback",
        "nota"
    ]
]

In [29]:
# Vista rápida del resultado
df.head()

,ID_compra,fecha,horario,categoria,precio_unitario,cantidad,envio,metodo_pago,ID_cliente,edad,sexo_biologico,ciudad,estado,region,cashback,nota
0,6,2023-01-03,20:40,Electrónicos,4457.9,4,713.26,Paypal,6149,30,Masculino,Hermosillo,Sonora,Noroeste,Sí,10
1,5,2023-01-03,21:48,Herramientas y construcción,115.9,1,0.00,Transferencia,9491,36,Masculino,Ciudad de México,Ciudad de México,Centro,Sí,8
2,9,2023-01-03,17:08,Belleza e higiene,68.9,2,13.78,Tarjeta de Crédito,5288,39,Femenino,Aguascalientes,Aguascalientes,Centro-Norte,No,7
3,4,2023-01-03,14:29,Herramientas y construcción,80.9,5,40.45,Transferencia,9679,35,Masculino,Veracruz,Veracruz,Golfo,Sí,9
4,8,2023-01-03,18:02,Belleza e higiene,165.0,4,0.00,Transferencia,1380,50,Masculino,Ciudad de México,Ciudad de México,Centro,No,9

Ahora le pediremos a ChatGPT ideas de visuales que podamos contruir con esos datos

> #### <strong><font color="7b71ff" size =6>Prompt:</font></strong>

Ahora con nuestro "df" ya construido a partir de las dos bases del proyecto, vamos a iniciar un nuevo proceso. Queremos comenzar la etapa de generación de visuales que puedan ayudar en el análisis de la facturación a lo largo del año, el perfil del cliente y otros datos que puedan ser relevantes para el análisis y la construcción de nuestra narrativa.

Las columnas de "df" son:

* ID_compra: número único asignado a la compra realizada, en formato int
* fecha: fecha de la compra, en formato datetime
* horario: hora de la compra, en formato object
* categoria: categoría del producto, en formato object
* precio_unitario: precio de una unidad del producto, en formato float
* cantidad: cantidad vendida del producto, en formato int
* envio: costo de envío a ser pagado en total de la compra, en formato float
* metodo_pago: método de pago de la compra, en formato object
* ID_cliente: número único asignado al cliente, en formato int
* edad: edad del cliente, en formato int
* sexo_biologico: sexo biológico del cliente, en formato object
* ciudad: ciudad del cliente, en formato object
* estado: estado del cliente, en formato object
* region: región del cliente, en formato object
* cashback: si el cliente participa o no en el programa de cashback de la tienda, en formato object
* nota: evaluación del cliente por la compra, en formato int

El objetivo es abstraer y buscar relaciones para construir visualizaciones interesantes para el análisis de los datos de los clientes y ventas de Zoop.

Con base en la información proporcionada, ¿qué tipos de visualizaciones serían útiles para alcanzar el objetivo de analizar los datos?

---
---

## **Sugerencias de visualizaciones de Chat-GPT**

Excelente, aquí ya estamos entrando en la **fase analítica + narrativa** del proyecto 💡📊
Antes de escribir código, lo correcto es **definir qué visualizar y por qué**, alineado con negocio.

A continuación te propongo **tipos de visualizaciones útiles**, organizadas por **objetivo analítico**, indicando **qué relación buscan revelar** y **qué columnas usarían**.

---

## 1️⃣ Análisis de facturación y desempeño en el tiempo

**Objetivo:** entender estacionalidad, tendencias y picos de venta.

### 📈 Serie temporal de facturación

* **Tipo:** Línea
* **Qué muestra:** evolución de la facturación a lo largo del año
* **Variables:**

  * Eje X → `fecha` (agrupada por mes)
  * Eje Y → facturación (`precio_unitario * cantidad + envio`)
* **Insight esperado:** meses fuertes/débiles, tendencia general

### 📊 Facturación por mes

* **Tipo:** Barras
* **Variables:** mes vs facturación total
* **Insight:** comparación clara entre períodos

---

## 2️⃣ Análisis por categoría de producto

**Objetivo:** identificar qué productos generan más ingresos y volumen.

### 📊 Facturación por categoría

* **Tipo:** Barras horizontales
* **Variables:** `categoria` vs facturación
* **Insight:** categorías estratégicas para el negocio

### 📦 Volumen vendido por categoría

* **Tipo:** Barras
* **Variables:** `categoria` vs `cantidad`
* **Insight:** diferencia entre productos de alto volumen y alto valor

---

## 3️⃣ Perfil del cliente

**Objetivo:** comprender quién compra y cómo se comporta.

### 👥 Distribución de clientes por edad

* **Tipo:** Histograma
* **Variable:** `edad`
* **Insight:** rangos etarios dominantes

### 🚻 Distribución por sexo biológico

* **Tipo:** Barras o Donut
* **Variable:** `sexo_biologico`
* **Insight:** perfil demográfico principal

### 🌍 Clientes por región

* **Tipo:** Barras
* **Variable:** `region`
* **Insight:** concentración geográfica de clientes

---

## 4️⃣ Comportamiento de compra y pago

**Objetivo:** entender cómo compran los clientes.

### 💳 Método de pago más utilizado

* **Tipo:** Barras
* **Variable:** `metodo_pago`
* **Insight:** optimización de medios de pago

### 🕒 Horario de compra

* **Tipo:** Barras o histograma
* **Variable:** `horario`
* **Insight:** horas pico de venta

---

## 5️⃣ Cashback y fidelización

**Objetivo:** evaluar impacto del programa de cashback.

### 💰 Facturación con y sin cashback

* **Tipo:** Barras
* **Variables:** `cashback` vs facturación
* **Insight:** aporte real del programa

### ⭐ Nota promedio según cashback

* **Tipo:** Barras
* **Variables:** `cashback` vs `nota`
* **Insight:** relación entre fidelización y satisfacción

---

## 6️⃣ Satisfacción del cliente

**Objetivo:** evaluar experiencia de compra.

### ⭐ Distribución de notas

* **Tipo:** Histograma
* **Variable:** `nota`
* **Insight:** percepción general del servicio

### 📦 Nota promedio por categoría

* **Tipo:** Barras
* **Variables:** `categoria` vs `nota`
* **Insight:** productos con mejor o peor evaluación

---

## 7️⃣ Visualizaciones relacionales (más avanzadas)

**Objetivo:** cruzar variables clave.

### 🔍 Precio vs cantidad

* **Tipo:** Scatter plot
* **Variables:** `precio_unitario` vs `cantidad`
* **Insight:** elasticidad de demanda

### 📊 Edad vs ticket promedio

* **Tipo:** Boxplot
* **Variables:** `edad` (bins) vs facturación
* **Insight:** valor del cliente por segmento etario

---

## 🧠 Narrativa sugerida para Zoop

Una narrativa sólida podría responder:

* **Cuándo** se vende más (tiempo)
* **Qué** se vende más (categoría)
* **Quién** compra (perfil del cliente)
* **Cómo** paga (método)
* **Qué tan satisfecho está** (nota)
* **Si la fidelización funciona** (cashback)

---

Si quieres, en el siguiente mensaje puedo:

* Proponer **un orden lógico de gráficos** tipo dashboard
* Escribir el **código de visualización (matplotlib / seaborn)**
* O ayudarte a **construir la narrativa completa tipo presentación ejecutiva** 🚀